@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body{
    background-color: rgb(46, 46, 70);
    
}

.cBody {
    border-radius: 60px;
    width: 450px;
    margin: auto;
    height: 650px;
    box-shadow: 0 8px 50px -7px black;
    background: #ceecf4;
    padding: 3rem;
}
.screen{
    padding: 1rem;
    background: rgb(46, 46, 70);
    height: 80px;
    border-radius: 5px; 
}

#calc-operation {
    font-size: 1.3rem;
    text-align: right;
    color: #727B86;
    padding-bottom: .5rem;
}
#calc-typed {
    font-size: 2rem;
    text-align: right;
    color: #fff;
}

.calc-button-row{
    display: table;
}

.numbers {
    display:table-cell ;
    width: 20%;
    background: #98c1f7;
    color: #fff;
    height: 55px;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
   margin: 10px;
   
}
.numbers:hover{
background-color: rgb(201, 197, 197);
}
.operation{
    background-color: #294668;
    display: table-cell;
    width: 20%;
    height: 60px;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    color: #fff;
    margin: 10px;
    box-shadow: #98c1f7;
    
}
.operation:hover{
    background-color: rgb(201, 197, 197);
}

.equal{
    background-color: #ea9732;
    display: table-cell;
    width: 20%;
    height: 250px;
    font-size: 1.3rem;
    border-radius: 15px;
    border: none;
    color: #fff;
    margin-left: 80%;
}

.equal:hover{
    background-color: rgb(201, 197, 197);
}

.screen input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
  }
  .screen input::placeholder {
    color: #9490ac;
  }